body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f8f8f8;
}

.products, #cart {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product, #cart {
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

button.add-to-cart {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
}

button.add-to-cart:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.remove-item {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.remove-item:hover {
    background-color: #da190b;
}
